# MFM
USE_MESHLESS_FINITE_MASS

SLOPE_LIMITER_GIZMO
SLOPE_LIMITER_GIZMO_FANCY

RIEMANN_SOLVER_HLLC
HLLC_RIEMANN_VERSION=1

NOMUSCL

STANDARD_KERNEL

# general hydro
GAMMA=(5.0/3.0)

# General code settings
#PERIODIC

WAKEUP=3.0
WAKEUP_SPECIFIC

PEANOHILBERT
WALLCLOCK

DOUBLEPRECISION=1

KD_NO_REPORT
KD_BUFFER_MANAGEMENT=0.3

AUTO_SWAP_ENDIAN_READIC
WRITE_INFO_BLOCK
DOMAIN_DECOMPOSITION_ON_TB
RECOMPOSE_DOMAIN
OVERRIDE_STOP_FOR_SUBOPTIMUM_DOMAINS

MOREPARAMS
ALLOWEXTRAPARAMS

EVALPOTENTIAL

MULTIPLEDOMAINS=4
TOPNODEFACTOR=4

UNEQUALSOFTENINGS

AR_GREEN_TREE_PROCESS_FIRST_PARTICLE_ALONE
AR_GREEN_TREE_HSML_FRACTION=0.5

#SYNCRONIZ_OUTPUT

# gravity
#ADAPTGRAVSOFT

#PMGRID=256
#HIGHRES_PMGRID=256
#PLACEHIGHRESREGION=19
#ENLARGEREGION=1.1
#KD_PM_NOSENDPOS
#KD_PM_FASTGREENS

# for some test cases
#NOGRAVITY
#CONSTANT_GRAVITY_Y=-0.5 # for Rayleigh-Taylor instability

# fof / subfind
#FOF
#FOF_PRIMARY_LINK_TYPES=2
#FOF_SECONDARY_LINK_TYPES=1+16
#SUBFIND
#DENSITY_SPLIT_BY_TYPE=1+2+16
#KD_CHOOSE_LINKING_LENGTH
#KD_ALTERNATIVE_GROUP_SORT
#MAX_NGB_CHECK=3
#KEEP_HSML_AS_GUESS
#LINKLENGTH=0.16
#NO_GAS_CLOUDS
#WRITE_SUB_IN_SNAP_FORMAT
#WRITE_SUB_COLLECTIVELY
#NO_SAVE_OF_HSML
#NO_FOF_OUTPUT

# sort options
SORT_FROM_L3
MYSORT
OMP_MYSORT # Uses a OpenMP version of the self-written mergesort
OMP_SORT # Replaces standard quicksort with a self-written version with OpenMP support

# reduce boundary effects in zoom-in simulations
#KD_RESTRICT_MAXVEL=5000.0
#KD_RESTRICT_NEIGHBOURS

# dianoga region specific setting
#DS_SHIFT_BOX

# only without gravity for specific test problems
#TWODIMS

#SPH_BND_PARTICLES

#LONG_X=256
#LONG_Y=256
#LONG_Z=8
