# AREPO

# general hydro

GAMMA=(5.0/3.0)

# general code settings
#GRAVITY_NOT_PERIODIC

WALLCLOCK

DOUBLEPRECISION=1

ALLOWEXTRAPARAMS

EVALPOTENTIAL

# gravity
ADAPTIVE_HYDRO_SOFTENING
#INDIVIDUAL_GRAVITY_SOFTENING

#PMGRID=256
#PLACEHIGHRESREGION=19
#ENLARGEREGION=1.1

#SELFGRAVITY
#EXTERNALGRAVITY
#EXTERNALGY=-0.5

# fof / subfind
#FOF
#FOF_PRIMARY_LINK_TYPES=2
#FOF_SECONDARY_LINK_TYPES=1+16
#SUBFIND

# dianoga region specific setting
#SHIFT_BY_HALF_BOX

# only without gravity for specific test problems
#TWODIMS

LONG_X=1
LONG_Y=0.75
LONG_Z=0.75


#RIEMANN_HLLC

#--------------------------------------- Mesh motion and regularization                           
REGULARIZE_MESH_CM_DRIFT                 # Mesh regularization; Move mesh generating point towards center of mass to make cells rounder.
#REGULARIZE_MESH_CM_DRIFT_USE_SOUNDSPEED  # Limit mesh regularization speed by local sound speed
REGULARIZE_MESH_FACE_ANGLE               # Use maximum face angle as roundness criterion in mesh regularization

#--------------------------------------- Refinement and derefinement                              
#REFINEMENT_SPLIT_CELLS                   # Refinement
#REFINEMENT_MERGE_CELLS                   # Derefinement 
#REFINEMENT_VOLUME_LIMIT                  # Limit the volume of cells and the maximum volume difference between neighboring cels 

TREE_BASED_TIMESTEPS          # non-local timestep criterion (take 'signal speed' into account)
