#MFM
USE_MESHLESS_FINITE_MASS

SLOPE_LIMITER_GIZMO
SLOPE_LIMITER_GIZMO_FANCY

NOMUSCL

STANDARD_KERNEL

#RIEMANN_SOLVER_HLL
#RIEMANN_SOLVER_HLL_INGNORE_OUTPUT

# General code settings
PERIODIC

WAKEUP=3.0

PEANOHILBERT
WALLCLOCK

DOUBLEPRECISION=1

KD_BUFFER_MANAGEMENT=0.3

AUTO_SWAP_ENDIAN_READIC


MOREPARAMS
ALLOWEXTRAPARAMS

MULTIPLEDOMAINS=6

# for some test cases
NOGRAVITY

# sort options
MYSORT

# reduce boundary effects in zoom-in simulations
KD_RESTRICT_NEIGHBOURS


# other
READ_HSML
AB_SHEAR
PERMUTATAION_OPTIMIZATION
JD_VTURB
