# SPH

WENDLAND_C6_KERNEL
WC6_BIAS_CORRECTION

JD_VTURB

# conduction
ARTIFICIAL_CONDUCTIVITY
TIME_DEP_ART_COND=1.0
AB_COND_GRAVITY=3.0

# artificial viscosity
TIME_DEP_ART_VISC=1.0
AB_ART_VISC=1.0
AB_SHEAR

# General code settings
PERIODIC

WAKEUP=3.0

PEANOHILBERT
WALLCLOCK

DOUBLEPRECISION=1

KD_BUFFER_MANAGEMENT=0.3

AUTO_SWAP_ENDIAN_READIC

MOREPARAMS
ALLOWEXTRAPARAMS

MULTIPLEDOMAINS=8

# for some test cases
NOGRAVITY

# sort options
MYSORT

# reduce boundary effects in zoom-in simulations
KD_RESTRICT_NEIGHBOURS


# other
PERMUTATAION_OPTIMIZATION
READ_HSML   
