#!/bin/bash            # this line only there to enable syntax highlighting in this file
# MFM (GIZMO)
DEVELOPER_MODE

HYDRO_MESHLESS_FINITE_MASS

KERNEL_FUNCTION=3

# general hydro
EOS_GAMMA=(5.0/3.0)

# general code settings
BOX_PERIODIC                           # Using perodic boundaries

DOUBLEPRECISION

#EVALPOTENTIAL

IO_DISABLE_HDF5

UNEQUALSOFTENINGS                  # allowing for different softenings

MULTIPLEDOMAINS=4
TOPNODEFACTOR=4

#SYNCHRONIZATION

#LONGIDS

# gravity
#ADAPTIVE_GRAVSOFT_FORALL

#PMGRID=256                        # Size of PM grid
#USE_FFTW3

#PM_PLACEHIGHRESREGION=19
#PM_ENLARGEREGION=1.1

# for some test cases
NOGRAVITY
#GRAVITY_ANALYTIC

# fof / subfind
#FOF                                # enable FoF output
#FOF_PRIMARY_LINK_TYPES=2           # 2^type for the primary dark matter type
#FOF_SECONDARY_LINK_TYPES=1+16+32   # 2^type for the types linked to nearest primaries
#SUBFIND                            # enables substructure finder
#FOF_DENSITY_SPLIT_TYPES=1+2+16+32    # 2^type for whch the densities should be calculated seperately  

MAX_NGB_CHECK=3                    # Max numbers of neighbours for sattlepoint detection (default = 2)

# dianoga region specific setting
#SHIFT_BY_HALF_BOX

# only without gravity for specific test problems
#TWODIMS

#BND_PARTICLES

LONG_X=1
LONG_Y=1
LONG_Z=3
